astropy==4.1
cycler==0.10.0
future==0.18.2
GPUtil==1.4.0
kiwisolver==1.3.1
matplotlib==3.3.3
numpy==1.19.4
Pillow==8.0.1
presto @ file:///home/william/presto/pkg/presto
psutil==5.7.2
PyMySQL==0.10.0
pyparsing==2.4.7
pySLALIB==1.0.4
python-dateutil==2.8.1
scipy==1.5.4
six==1.15.0
